<div class="container" ng-hide="showGraph1">
<nav aria-label="breadcrumb" class="my-4">
  <ol class="breadcrumb">
    <!--<li class="breadcrumb-item active" aria-current="page"><a href="" ng-click="reload()">Visualization</a></li>-->
	<li class="breadcrumb-item" aria-current="page">Choose Dataset</li>
  </ol>
</nav>
<!-- <a href="/dataset">dataset</a> -->
  <h3>Choose dataset to make statistical summary:</h3>
  <table class="table table-bordered table-striped my-4">
    <thead>
      <tr>
        <th>Dataset</th>
	<!--	<th>Created By</th>-->
       <th>Select Dataset</th> 
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="x in datasetArr">
        <td>[[x.dataset_name]]</td>
		<!--<td>[[x.user_id]]</td>-->
        <td><a href="" class="btn btn-primary" ng-click="chooseDataset(x)">Select</a></td>
      </tr>
    </tbody>
  </table>
</div>
<div class="container" ng-show="showGraph1">
 
  <nav aria-label="breadcrumb" class="my-4">
  <ol class="breadcrumb">
    <li class="breadcrumb-item active" aria-current="page"><a href="" ng-click="reload()">Statistical</a></li>
    <li class="breadcrumb-item" aria-current="page">Select Fields</li>
  </ol>
  </nav>
  <div class="row">
  <div class="col-md-4">
  <h3>Dataset Name : [[selectedDataset]]</h3>
  <label class="my-4" for="visuaName">Statistical Name</label>
  <input type="text" ng-model="sName" class="form-control onePerLMargin" id="statsName" placeholder="Enter Statistical Name">

  <h4 class="my-4">Select fields from drop down:</h4>
  <div class="col-md-12 my-4">
   Select method :
      <select id="method" name="method" ng-model="selectedmethod" ng-change="initCalculate()" class="custom-select btn-info">
        <option selected>Select field</option>
        <option ng-repeat="k in methodArr" value="[[k]]">[[k]]</option>
      </select>
  </div> 
  <div class="col-md-12">
  Select Column :
      <select id="x_value" name="x_axis_value" ng-model="selectedfield" class="custom-select btn-info">
        <option selected>Select field</option>
        <option ng-repeat="k in fieldsAr" value="[[k]]">[[k]]</option>
      </select>
  </div>   
  <button type="submit" class="btn btn-info" ng-click="calculateStatistical()">Calculate</button>
  <button class="btn btn-primary" ng-click="paramterSave1()">Save</button>
  </div>
  <div class="col-md-8">
  <div class="my-4">
        <div id="statisticalSummary" width="400" height="300" style="background-color: #D3D3D3;">
          <h2 class="text-primary text-center display-4" style="padding: 30px;">Statistical Summary:
          </h2>
          <h3 ng-show="calculationDone && selectedmethod!='describe'" class="font-weight-bold text-center text-light" style="padding-bottom: 30px;">
              [[selectedmethod]] : [[calculatedSummary]]
          </h3>
          <ul ng-show="selectedmethod=='describe' && calculationDone">
            <li>Count :[[calculatedSummary.count]]</li>
            <li>Mean :[[calculatedSummary.mean]]</li> 
            <li>Standard Deviation :[[calculatedSummary.std]]</li>
            <li>Median : [[calculatedSummary.median]]</li>
            <li>Skewness : [[calculatedSummary.skewness]]</li>
            <li>Kurtosis :[[calculatedSummary.kurtosis]]</li>
            <li>Minimum :[[calculatedSummary.min]]</li>
            <li>25% :[[calculatedSummary.25]]</li>
            <li>50% :[[calculatedSummary.50]]</li>
            <li>75% :[[calculatedSummary.75]]</li>
            <li>Maximum :[[calculatedSummary.max]]</li>
          </ul>


        </div>
  </div>

  <div id="histoDiv"></div>
  </div>

    <div class="modal fade" id="successModal">
    <div class="modal-dialog">
      <div class="modal-content">
      
        <!-- Modal Header -->
        <div class="modal-header">
          <h4 class="modal-title">Success</h4>
          <button type="button" class="close" data-dismiss="modal">×</button>
        </div>
        
        <!-- Modal body -->
        <div class="modal-body">
          [[sName]]Statistical is saved successfully. 
        </div>
        
        <!-- Modal footer -->
        <div class="modal-footer">
          <button type="button" class="btn btn-success" data-dismiss="modal">Close</button>
        </div>
        
      </div>
    </div>
  </div>
  
</div>
  
  </div>
  </div>