{% load static %}
<html>
  <head>
    <meta charset="utf-8">
    <title>{% block title %}Sigma Statistics{% endblock %}</title>
    <link href="https://fonts.googleapis.com/css?family=Peralta" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/app.css' %}">
	 <script src="{% static 'angular/angular1.2.5.js' %}"></script>
	 <script src="{% static 'angular/angular-route1.2.5.js' %}"></script>
    <script src="{% static 'js/app.js' %}"></script>
	{% block stylesheet %}
	
	{% endblock %}
  </head>
  <body ng-app="statsApp">
    {% block body %}
	<nav class="navbar navbar-expand-sm navbar-dark bg-primary">
        <div class="container">
          <a class="navbar-brand" href="{% url 'home' %}">Sigma Statistics</a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#mainMenu" aria-controls="mainMenu" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="mainMenu">
		  	<ul class="navbar-nav"
				<li class="nav-item active">
					<a class="nav-link" href="{% url 'home' %}">Home <span class="sr-only">(current)</span></a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="#">About Us</a>
				</li>
			</ul>
            {% if user.is_authenticated %}
              <ul class="navbar-nav ml-auto">
                <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" href="" id="userMenu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    {{ user.username }}
                  </a>
                  <div class="dropdown-menu dropdown-menu-right" aria-labelledby="userMenu">
                    <a class="dropdown-item" href="#">My account</a>
                    <a class="dropdown-item" href="#">Change password</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="{% url 'logout' %}">Log out</a>
                  </div>
                </li>
              </ul>
            {% else %}
              <form class="form-inline ml-auto">
                <a href="{% url 'login' %}" class="btn btn-dark">Log in</a>
                <a href="{% url 'signup' %}" class="btn btn-warning ml-2">Sign up</a>
              </form>
            {% endif %}
          </div>
        </div>
      </nav>
		{% block sidebar %}
	
        {% endblock %}
		
	  <div class="container">
        
        {% block content %}
	
        {% endblock %}
      </div>
	  
	    {% endblock body %}
	
	
    <script src="{% static 'js/jquery/jquery-3.2.1.min.js' %}"></script>
    <script src="{% static 'js/popper/popper.min.js' %}"></script>
    <script src="{% static 'js/bootstrap/bootstrap.min.js' %}"></script>
	<script src="{% static 'js/papaparse.min.js' %}"></script>
	<script src="{% static 'js/shim.js' %}"></script>
	<script src="{% static 'js/xlsx.full.min.js' %}"></script>
  <script src="{% static 'js/angular-drag-and-drop-lists.min.js' %}"></script>
	<script src='https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.min.js'></script>
  <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
  <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/lodash@4.17.10/lodash.min.js"></script>
	{% block additional_script %}
	{% endblock %}
   </body>
</html>
