{% load static %}<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>{% block title %}Sigma Statistics{% endblock %}</title>
    <link href="https://fonts.googleapis.com/css?family=Peralta" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/app.css' %}">
	<link rel="stylesheet" href="{% static 'css/normalize.css' %}">
	<link rel="stylesheet" href="{% static 'css/demo.css' %}">
	<link rel="stylesheet" href="{% static 'css/component.css' %}">
	<script src="{% static 'angular/angular1.2.5.js' %}"></script>
	<script src="{% static 'angular/angular-route1.2.5.js' %}"></script>
    <script src="{% static 'js/app.js' %}"></script>
    {% block stylesheet %}{% endblock %}
  </head>
  <body ng-app="statsApp">
    {% block body %}

		<div class="demo-1">
		<nav class="navbar navbar-expand-sm navbar-dark bg-primary">
        <div class="container">
          <a class="navbar-brand" href="{% url 'home' %}">Sigma Statistics</a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#mainMenu" aria-controls="mainMenu" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="mainMenu">
		  	<ul class="navbar-nav"
				<li class="nav-item active">
					<a class="nav-link" href="{% url 'home' %}">Home <span class="sr-only">(current)</span></a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="#">About Us</a>
				</li>
			</ul>
            {% if user.is_authenticated %}
              <ul class="navbar-nav ml-auto">
                <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" href="#" id="userMenu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    {{ user.username }}
                  </a>
                  <div class="dropdown-menu dropdown-menu-right" aria-labelledby="userMenu">
                    <a class="dropdown-item" href="#">My account</a>
                    <a class="dropdown-item" href="#">Change password</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="{% url 'logout' %}">Log out</a>
                  </div>
                </li>
              </ul>
            {% else %}
              <form class="form-inline ml-auto">
                <a href="{% url 'login' %}" class="btn btn-dark">Log in</a>
                <a href="{% url 'signup' %}" class="btn btn-warning ml-2">Sign up</a>
              </form>
            {% endif %}
          </div>
        </div>
      </nav>
	  
<!--	  				
      <div class="container">
        <ol class="breadcrumb my-4">
          {% block breadcrumb %}
          {% endblock %}
        </ol>
        {% block content %}
	
        {% endblock %}
      </div>-->
	  {% if user.is_authenticated %}
	<div class="container">
    <div class="card-deck mt-4em">
      <div class="card my-4">
		<img class="card-img-top" src="{% static 'img/41.jpg' %}" alt="Card image cap">
        <div class="card-body">
          <h3 class="card-title">Dashboard</h3>
			<div class="card-content">
			<p>Create Dashboard from visualization</p>
			</div>
            <a class="btn btn-primary btn-block" href="dataset/#/dashboard">Start</a>
        </div>
      </div>
	  <div class="card my-4">
		<img class="card-img-top" src="{% static 'img/4-150-01.jpg' %}" alt="Card image cap">
        <div class="card-body">
          <h3 class="card-title">Processes</h3>
			<div class="card-content">
			<p>Create new process.</p>
			</div>
			<a class="mx-auto btn btn-primary btn-block" href="dataset/#/createProcess">Create new process</a>
		</div>
      </div>
	  	  <div class="card my-4">
		<img class="card-img-top" src="{% static 'img/dd.jpg' %}" alt="Card image cap">
        <div class="card-body">
          <h3 class="card-title">Dataset</h3>
			<div class="card-content">
			<p>Create and upload the data to make dataset.</p>
			</div>
			<a class="mx-auto btn btn-primary btn-block" href="dataset/#/createDataset">Start</a>
        </div>
      </div>
	</div>
	</div>
	  
	  
	  {% else %}
			<div class="content">
				<div id="large-header" class="large-header">					
					<canvas id="demo-canvas"></canvas>
				</div>
			</div>
		{% endif %}
		</div>
	


    {% endblock body %}
	
	<script>
		var static_url = '{{STATIC_URL}}'
	</script>
    <script src="{% static 'js/jquery/jquery-3.2.1.min.js' %}"></script>
    <script src="{% static 'js/popper/popper.min.js' %}"></script>
    <script src="{% static 'js/bootstrap/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/EasePack.min.js' %}"></script>
    <script src="{% static 'js/TweenLite.min.js' %}"></script>
    <script src="{% static 'js/demo-1.js' %}"></script>
    <script src="{% static 'js/rAF.js' %}"></script>
  </body>
</html>
