{% extends 'base_chart.html' %}

<script>
{% block jquery %}
console.log("sgsdgsg");
console.log('{{ dataset_name }}');
var endpoint = "/api/chart/data/barGraph/{{ dataset_name }}";
var defaultData = []
var labels = [];
$.ajax({
    method: "GET",
    url: endpoint,
    success: function(data){
        labels = data.labels
        defaultData = data.default
		console.log(data)
		console.log('{{ fields }}')
        setChart()
    },
    error: function(error_data){
        console.log("error")
        console.log(error_data)
    }
})

function setChart(){
 //   var ctx = document.getElementById("myChart");
    var ctx2 = document.getElementById("myChart2");
    var myChart = new Chart(ctx2, {
    type: 'bar',
    data: {
        labels: labels,
        datasets: [{
            label: '',
            data: defaultData,
            backgroundColor: [
                'rgba(255, 99, 132, 0.2)',
                'rgba(54, 162, 235, 0.2)',
                'rgba(255, 206, 86, 0.2)',
                'rgba(75, 192, 192, 0.2)',
                'rgba(153, 102, 255, 0.2)',
                'rgba(255, 159, 64, 0.2)'
            ],
            borderColor: [
                'rgba(255,99,132,1)',
                'rgba(54, 162, 235, 1)',
                'rgba(255, 206, 86, 1)',
                'rgba(75, 192, 192, 1)',
                'rgba(153, 102, 255, 1)',
                'rgba(255, 159, 64, 1)'
            ],
            borderWidth: 1
        }]
    },
    options: {
        scales: {
            yAxes: [{
                ticks: {
                    beginAtZero:true
                }
            }]
        }
    }
});

 /*   var myChart = new Chart(ctx, {
    type: 'polarArea',
    data: {
        labels: labels,
        datasets: [{
            label: '# of Votes',
            data: defaultData,
            backgroundColor: [
                'rgba(255, 99, 132, 0.2)',
                'rgba(54, 162, 235, 0.2)',
                'rgba(255, 206, 86, 0.2)',
                'rgba(75, 192, 192, 0.2)',
                'rgba(153, 102, 255, 0.2)',
                'rgba(255, 159, 64, 0.2)'
            ],
            borderColor: [
                'rgba(255,99,132,1)',
                'rgba(54, 162, 235, 1)',
                'rgba(255, 206, 86, 1)',
                'rgba(75, 192, 192, 1)',
                'rgba(153, 102, 255, 1)',
                'rgba(255, 159, 64, 1)'
            ],
            borderWidth: 1
        }]
    },
    options: {
        scales: {
            yAxes: [{
                ticks: {
                    beginAtZero:true
                }
            }]
        }
    }
});*/
}
// var ctx = document.getElementById("myChart");



{% endblock %}
</script>

{% block content %}

<div class='row'>
    <div class='col-sm-12' url-endpoint='{% url "api-data" %}'>
        <h1>Visualization</h1>
		<h1>{{ dataset_name }}</h1>
        
		<div id="header_fields">
			<form method="POST" action="/api/chart/{{ dataset_name }}/">
			{% csrf_token %}
			Select X-axis :
			<select id="header" name="x_axis_value" class="custom-select btn-info">
				<option selected>Select field</option>
				{% for header in fields %}
				<option value='{{ header }}'>{{ header }}</option>
				{% endfor %}
			</select>
			
			Select Y-axis :
			<select id="header" name="y_axis_value" class="custom-select btn-info">
				<option selected>Select field</option>
				{% for header in fields %}
				<option value='{{ header }}'>{{ header }}</option>
				{% endfor %}
			</select>
			<button type="submit" class="btn btn-info">Submit</button>
			</form>
		</div>
		
		<div class='col-sm-6'>
            <canvas id="myChart2" width="500" height="400"></canvas>
        </div>

    </div>
</div>

{% endblock content %}
